<%= form_for(@counseling) do |f| %>
  <% if @counseling.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@counseling.errors.count, "error") %> prohibited this counseling from being saved:</h2>

      <ul>
      <% @counseling.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :adviser %><br>
    <%= f.text_field :adviser %>
  </div>
  <div class="field">
    <%= f.label :classroom %><br>
    <%= f.text_field :classroom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
