<h1>Listing counselings_students</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Counseling</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @counselings_students.each do |counselings_student| %>
      <tr>
        <td><%= counselings_student.student %></td>
        <td><%= counselings_student.counseling %></td>
        <td><%= link_to 'Show', counselings_student %></td>
        <td><%= link_to 'Edit', edit_counselings_student_path(counselings_student) %></td>
        <td><%= link_to 'Destroy', counselings_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Counselings student', new_counselings_student_path %>
